@media (max-width: 1300px) {
    .hero__content {
        padding: 100px 0 100px 60px;
    }
}

@media (max-width: 1144px) and (min-width: 769px) {
    .about__picture-item {
        height: 510px;
    }

    .about__item2 {
        height: 330px;
    }

    .about__item3 {
        height: 330px;
    }
    
    .mobileApp__inner {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .about__pictures {
        grid-template-columns: 1fr;
    }

    .about__item2 {
        display: none;
    }

    .about__item3 {
        display: none;
    }

    .about__item4 {
        margin-top: 0;
    }

    .mobileApp__inner {
        flex-direction: column;
    }

    .mobileApp__info {
        margin-bottom: 100px;
    }

    .footer__inner {
        flex-direction: column;
        padding: 100px 60px;
    }

    .footer__social {
        margin-bottom: 100px;
    }

    // MENU 

    .menu__cards-block {
        grid-template-columns: repeat(2, auto);
    }
}
