
@import '../../style/normalize';
@import '../../style/main';
@import '../../style/vars';
@import '../home/style';

.hover_menu.header__menu::after {
    border: 1px solid;
    width: 100%;
}

.menu {

    // .menu__header

    &__header {
        font-style: italic;
        text-align: center;
        margin: 0 auto;
        max-width: 800px;
    }

    // .menu__tabs

    &__tabs {
        display: flex;
        justify-content: center;
        margin: 40px 0 40px 0;
        column-gap: 16px;
    }

    // .menu__tab-item

    &__tab-item {
        display: flex;
        align-items: center;
        font-weight: 600;
        border: 1px solid $border-Light;
        padding: 6px 12px;
        border-radius: 100px;
        cursor: pointer;
        &:hover {
            background-color: $text-dark;
            color: $border-Light;
            transition: all .3s;
        }
        &:hover .menu__image-icon {
            background-color: $body-color;
            transition: all .3s;
        }
    }

    &__image-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background-color: $border-Light;
        border-radius: 50%;
    }

    &__icon-text {
        margin-left: 5px;
    }

    // .menu__cards-block

    &__cards-block {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: space-between;
        row-gap: 40px;
        margin-bottom: 100px;
        transition: all .3s;
    }

    // .menu__card

    &__card {
        opacity: 0;
        transition: opacity .5s ease, transform 0.5s ease;
        display: flex;
        flex-direction: column;
        max-width: 310px;
        border: 1px solid $border-Light;
        border-radius: 40px;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        &.show {
            opacity: 1;
        }

        &:hover .menu__image {
            scale: 1;
            transition: all .3s;
        }
    }

    // .menu__img-block

    &__img-block {
        overflow: hidden;
        position: relative;
        border-radius: 40px;
    }
    
    // .menu__image
    
    &__image {
        scale: 1.1;
        transition: all .3s;
        width: auto;
        max-width: 100%;
        border-radius: 40px;
        

    }

    // .menu__card-content

    &__card-content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    
    // .menu__card-header

    &__card-header {
        margin-bottom: 12px;
        font-size: 24px;
    }
    
    // .menu__pharagraf
    
    &__pharagraf {
        line-height: 1.5;
        margin-bottom: 10px;
    }
    
    // .menu__prise
    
    &__prise {
        font-size: 24px;
        font-weight: 600;
        margin-top: auto;
    }
}
.subheader {
}
.italic {

    // .italic__span

    &__span {
    }
}
